<template>
  <section class="address">
    <span class="adress-line">Someone</span>
    <span class="adress-line">Somewhere</span>
    <span class="adress-line">Out there</span>
  </section>
</template>

<script>
export default {
  name: "Address"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adress-line {
  display: block;
  margin: 20px 40px;
  font-family: "IM Fell English", serif;
  border-bottom: 1px solid #2c3e50;
}
</style>
