<template>
  <section class="builder">
    <div class="column">
      <label>villégiature</label>
      <input type="text" v-model="placeSelector">
    </div>
    <div class="column">
      <label>date</label>
      <input type="date" v-model="dateSelector">
    </div>
    <div class="column">
      <label>résidence</label>
      <input type="text" v-model="homeSelector">
    </div>
    <div class="column">
      <label>retour</label>
      <input type="date" v-model="checkOutSelector">
    </div>
    <div class="column">
      <label>tutoiement</label>
      <input type="checkbox" v-model="isSingularSelector">
    </div>

    <div class="column span2">
      <span>météo</span>
      <span class="weather-grid">
        <label>
          <input type="radio" name="weather" value="sunny" v-model="weatherSelector" checked>
          ☀️
        </label>
        <label>
          <input type="radio" name="weather" value="partly" v-model="weatherSelector">
          ⛅️
        </label>
        <label>
          <input type="radio" name="weather" value="cloudy" v-model="weatherSelector">
          ☁️
        </label>
        <label>
          <input type="radio" name="weather" value="rainy" v-model="weatherSelector">
          🌧
        </label>
      </span>
    </div>
  </section>
</template>

<script>
function parseDate(s) {
  if (!s) return null;
  const b = s.split(/\D/);
  return new Date(b[0], --b[1], b[2]);
}

export default {
  name: "Builder",
  data: function() {
    return {
      placeSelector: "Monta",
      dateSelector: new Date(),
      checkOutSelector: null,
      isSingularSelector: false,
      weatherSelector: "sunny",
      homeSelector: "Paris"
    };
  },
  watch: {
    placeSelector: function(val) {
      this.$emit("selectPlace", val);
    },
    homeSelector: function(val) {
      this.$emit("selectHome", val);
    },
    checkOutSelector: function(val) {
      this.$emit("selectCheckOut", parseDate(val));
    },
    dateSelector: function(val) {
      this.$emit("selectDate", parseDate(val));
    },
    isSingularSelector: function(val) {
      this.$emit("selectIsSingular", val);
    },
    weatherSelector: function(val) {
      this.$emit("selectWeather", val);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.builder {
  padding: 12px;
}

.span2 {
  grid-column-end: span 2;
}

.weather-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 480px) {
  .span2 {
    grid-column-end: span 1;
  }
}
</style>
