<template>
  <!-- <i>Dites quel temps il fait, ce que vous faites, ce qui vous a marqué, etc.</i>
      Il fait très beau, tout est bleu : la mer, le ciel.
      Je vais tous les jours à la plage et je me baigne.
  Le soir, je me promène dans la vieille ville.-->
  <div class="mail">
    <p class="right">
      <span>{{ place }}</span>
      <span v-if="!!place && this.date">,</span>
      {{ formatDate(this.date, true) }}
    </p>
    <p class="capitalize">{{ greeting }},</p>
    <p>
      {{ introduction }}
      <br />
      {{ body }}
      {{ weatherTime }}
      {{ activity }}
      {{ comeback }}
      <br />
    </p>
    <p>{{ bye }} Gros Bisous.</p>
    <p class="right">Aloïs</p>
  </div>
</template>

<script>
function getRandomItem(items) {
  return items[Math.floor(Math.random() * items.length)];
}

const _MS_PER_DAY = 1000 * 60 * 60 * 24;

// a and b are javascript Date objects
function getDatesDifference(a, b) {
  const utc1 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
  const utc2 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());

  return Math.floor(Math.abs(utc2 - utc1) / _MS_PER_DAY);
}

const greetings = [
  "salut",
  "bonjour",
  "hello",
  "coucou",
  "bonjour bonjour",
  "aloha",
  "saluton",
];

const howAreYou = [
  "Comment ça va ? Que fais-tu de beau ?",
  "Tu racontes quoi de beau ?",
  "Est-ce que ça va ?",
  "Est-ce que tout va bien ?",
];

const howAreYou2 = [
  "Comment allez-vous ? Que faites-vous de beau ?",
  "Vous racontez quoi de beau ?",
  "Est-ce que vous allez bien ?",
  "Est-ce que tout va bien ?",
];

const hopes = [
  "J'espère que tout va pour le mieux...",
  "J'espère que tout va au mieux...",
];

const vacations = [
  "Ça fait du bien d'être en vacances. C'est reposant.",
  "Ça bon d'être en vacances. Cela permet de souffler dans une vie qui va trop vite.",
  "Ça bon d'être en vacances. Vivement que le minimum légale augmente au dessus des 25 jours.",
  "C'est reposant d'être en vacances. C'est vraiment bon.",
  "C'est vraiment bon d'être en vacances. C'est reposant.",
  "C'est vraiment agréable d'être en vacances. C'est reposant.",
];

const places = [
  "Nos vacances dans les vignes se déroulent à merveille.",
  "Comme toujours nous sommes au milieu de pleins de pins.",
  "Comme toujours nous avons les pieds dans le sable et la tête dans les nuages.",
  "Comme toujours dans la forêt des Landes, nous apprécions les chants des écureuils et le rugissements des oiseaux.",
  "Comme toujours le bruit des vagues et le vent marin forment notre quotidien.",
];

const activities = [
  "On ne s'ennuie pas. Nous savons nous occuper.",
  "Il y a largement de quoi faire.",
  "Nous avons de quoi nous occuper.",
  "On en profite pour lire, écrire et s'amuser.",
];

const byeKim = [
  "Kim t'embrasse.",
  "Pleins de bisous de Kim.",
  "Kim te fait des bisous.",
];

const byeKim2 = [
  "Kim vous embrasse.",
  "Pleins de bisous de Kim.",
  "Kim vous fait des bisous.",
];

const byeAlkim = ["On pense à toi.", "Nous pensons à toi."];
const byeAlkim2 = ["On pense à vous.", "Nous pensons à vous."];

const byeAlois = ["À bientôt.", "N'hésites pas à appeler ou à écrire."];
const byeAlois2 = ["À bientôt.", "N'hésitez pas à appeler ou à écrire."];

const weathers = {
  sunny: ["Il fait beau. Il fait bon."],
  partly: ["Il y a des éclaircies. Il fait bon."],
  cloudy: ["Le temps est couvert ; économie de crême solaire !"],
  rainy: ["On a un peu de pluie. Ça rafraîchit."],
};

const comebacks = [
  "Nous ne savons pas encore quand nous serons de retour sur",
  "Nous ne savons pas encore quand nous rentrerons sur",
  "Nous n'avons pas encore décidé quand nous rentrerons sur",
  "Nous n'avons pas encore décidé quand nous serons de retour sur",
];

export default {
  name: "Mail",
  props: {
    place: String,
    home: String,
    date: {
      type: Date,
      default: function() {
        return null;
      },
    },
    checkOut: {
      type: Date,
      default: function() {
        return null;
      },
    },
    weather: String,
    isSingular: Boolean,
  },
  computed: {
    greeting: function() {
      return getRandomItem(greetings);
    },
    introduction: function() {
      return [this.isSingular ? howAreYou : howAreYou2, hopes]
        .map((items) => getRandomItem(items))
        .join(" ");
    },
    body: function() {
      return [vacations, places].map((items) => getRandomItem(items)).join(" ");
    },
    weatherTime: function() {
      return getRandomItem(weathers[this.weather]);
    },
    activity: function() {
      return getRandomItem(activities);
    },
    comeback: function() {
      // getDatesDifference
      if (!this.checkOut) {
        return `${getRandomItem(comebacks)} ${
          this.home
        } et nous n'avons pas envie d'y penser...`;
      }
      const difference = getDatesDifference(new Date(), this.checkOut);
      const speed =
        (difference < 3 ? " beaucoup" : "") +
        (difference < 5 ? " trop " : "") +
        (difference < 7 ? " vite" : "");
      return `Nous rentrons ${this.formatDate(this.checkOut)} sur ${
        this.home
      }. Ça arrive${speed}...`;
    },
    bye: function() {
      return (this.isSingular
        ? [byeKim, byeAlkim, byeAlois]
        : [byeKim2, byeAlkim2, byeAlois2]
      )
        .map((items) => getRandomItem(items))
        .join(" ");
    },
  },
  methods: {
    formatDate: function(date, showYear) {
      if (!date) return null;
      const dateTimeFormat = new Intl.DateTimeFormat("fr", {
        year: "numeric",
        month: "long",
        day: "2-digit",
        weekday: "long",
      });
      const [
        { value: weekday },
        ,
        { value: day },
        ,
        { value: month },
        ,
        { value: year },
      ] = dateTimeFormat.formatToParts(date);

      return `le ${weekday} ${parseInt(day, 10)} ${month}${
        showYear ? " " + year : ""
      }`;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mail {
  padding: 12px;
  font-family: "IM Fell English", serif;
}

.right {
  text-align: right;
}

.capitalize {
  text-transform: capitalize;
}
</style>
