<template>
  <div id="app">
    <Builder
      v-on:selectPlace="selectPlace"
      v-on:selectHome="selectHome"
      v-on:selectCheckOut="selectCheckOut"
      v-on:selectDate="selectDate"
      v-on:selectIsSingular="selectIsSingular"
      v-on:selectWeather="selectWeather"
    />
    <div class="postcard">
      <Mail
        v-bind:date="date"
        v-bind:checkOut="checkOut"
        v-bind:place="place"
        v-bind:home="home"
        v-bind:isSingular="isSingular"
        v-bind:weather="weather"
      />
      <div class="separator">
        <div></div>
      </div>
      <Address/>
    </div>
  </div>
</template>

<script>
import Mail from "./components/Mail";
import Address from "./components/Address";
import Builder from "./components/Builder";

export default {
  name: "App",
  components: {
    Mail,
    Address,
    Builder
  },
  data: function() {
    return {
      date: new Date(),
      checkOut: null,
      place: "Monta",
      home: "Paris",
      isSingular: false,
      weather: "sunny"
    };
  },
  methods: {
    selectPlace: function(val) {
      this.place = val;
    },
    selectHome: function(val) {
      this.home = val;
    },
    selectDate: function(val) {
      this.date = val;
    },
    selectCheckOut: function(val) {
      this.checkOut = val;
    },
    selectIsSingular: function(val) {
      this.isSingular = val;
    },
    selectWeather: function(val) {
      this.weather = val;
    }
  }
};
</script>

<style>
* {
  box-sizing: border-box;
  transition: all 0.5s ease-in;
}
html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

.column {
  display: grid;
  grid-template-columns: 90px 1fr;
}

.postcard {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /*outline: 10px solid #efebe9;*/
  margin: 10px;
  border: 2px #d0c5a5 solid;
  max-width: 600px;
  background-color: #efebe9;
}

.builder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*outline: 10px solid #efebe9;*/
  margin: 10px;
  border: 2px #d0c5a5 solid;
  max-width: 600px;
  background-color: #efebe9;
  width: calc(100% - 20px);
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.separator div {
  height: 75%;
  width: 2px;
  background: #d0c5a5;
  border-radius: 500px;
}

@media only screen and (max-width: 480px) {
  #app {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .separator {
    height: auto;
  }

  .separator div {
    height: 2px;
    width: 75%;
  }

  .builder {
    grid-template-columns: 1fr;
  }

  .postcard {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
</style>
